{% extends 'base.html' %} {% block title %} Dashboard {% endblock %} {% block
content %}
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-6">
				<!-- small box -->
				<div class="small-box bg-info">
					<div class="inner">
						<h3>{{ total_users }}</h3>

						<p>Usuários</p>
					</div>
					<div class="icon">
						<i class="fa fa-users"></i>
					</div>
					<a href="/usersList" class="small-box-footer"
						>Mais Informação <i class="fas fa-arrow-circle-right"></i
					></a>
				</div>
			</div>

			<div class="col-lg-3 col-6">
				<div class="small-box bg-success">
					<div class="inner">
						<h3>{{ total_folders }}</h3>

						<p>Pastas</p>
					</div>
					<div class="icon">
						<i class="fa fa-folder"></i>
					</div>
					<a href="/foldersList" class="small-box-footer"
						>Mais Informação <i class="fas fa-arrow-circle-right"></i
					></a>
				</div>
			</div>

			<!-- <div class="col-lg-3 col-6">
				<div class="small-box bg-warning">
					<div class="inner">
						<h3>44</h3>

						<p>User Registrations</p>
					</div>
					<div class="icon">
						<i class="ion ion-person-add"></i>
					</div>
					<a href="#" class="small-box-footer"
						>More info <i class="fas fa-arrow-circle-right"></i
					></a>
				</div>
			</div>

			<div class="col-lg-3 col-6">
				<div class="small-box bg-danger">
					<div class="inner">
						<h3>65</h3>

						<p>Unique Visitors</p>
					</div>
					<div class="icon">
						<i class="ion ion-pie-graph"></i>
					</div>
					<a href="#" class="small-box-footer"
						>More info <i class="fas fa-arrow-circle-right"></i
					></a>
				</div>
			</div> -->
			<!-- ./col -->
		</div>
	</div>
</section>
<section class="content">
	<div class="col-md-12">
		<!-- Application buttons -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Funções Rápidas</h3>
			</div>
			<div class="card-body">
				<p>Algumas funções rápidas do sistema do samba</p>
				<a class="btn btn-app" href="/permissaoPastas">
					<i class="fas fa-bullhorn"></i> Permissão Pastas
				</a>
				<a class="btn btn-app" href="/rebootSamba"
					><i class="fas fa-undo"></i> Reboot Samba</a
				>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
	<!-- /.container-fluid -->
</section>
{% endblock %}
